/* -------------- GENERAL ------------- */
:root {
  --dark: #111111;
  --light: white;
  --orange: #dea923;
  --bcgLight: #d7eef7;
  --bcgDark: #1d2529;
}
body {
  font-family: "Roboto", sans-serif;
  position: relative;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  padding: 10px 0;
  margin-bottom: 20px;
  margin-top: 50px;
}
h2 {
  font-size: 30px;
  font-weight: bold;
}
h3 {
  font-size: 22px;
}

/* ------ Gestion light/dark mode ------ */
.night {
  background-color: var(--dark);
  color: var(--light);
}
.light {
  background-color: var(--light);
  color: var(--dark);
}

.moon {
  position: absolute;
  top: 8px;
  right: 12%;
  cursor: pointer;
  font-size: 28px;
  color: var(--dark);
  background-color: var(--light);
  border: none;
  border-radius: 50%;
  border: 1px solid white;
  z-index: 1;
}
.moon:hover {
  border: 1px solid black;
  background-color: gray;
}
.sun {
  position: absolute;
  top: 8px;
  right: 12%;
  border-radius: 50%;
  cursor: pointer;
  font-size: 26px;
  color: var(--light);
  border: 1px solid var(--dark);
  background-color: var(--dark);
  border-radius: 50%;
  z-index: 1;
}
.sun:hover {
  border: 1px solid white;
  background-color: gray;
}

/* --------- Gestion langue ---------- */
.frButton {
  position: absolute;
  top: 8px;
  left: 12%;
  background-color: var(--bcgLight);
  border: 2px solid var(--bcgDark);
  border-radius: 8px;
  font-size: 23px;
  color: var(--bcgDark);
  width: 90px;
  cursor: pointer;
  padding: 5px 0;
}
.frButton:hover {
  background-color: var(--bcgDark);
  border: 2px solid var(--bcgLight);
  color: var(--bcgLight);
}
.enButton {
  position: absolute;
  top: 8px;
  left: 12%;
  background-color: var(--bcgLight);
  border: 2px solid var(--bcgDark);
  border-radius: 8px;
  font-size: 23px;
  color: var(--bcgDark);
  width: 90px;
  cursor: pointer;
  padding: 5px 0;
}
.enButton:hover {
  background-color: var(--bcgDark);
  border: 2px solid var(--bcgLight);
  color: var(--bcgLight);
}

/* -------------- LIEN ------------- */
.contact {
  display: flex;
  gap: 15px;
  font-size: 17px;
  background-color: #2858c8;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 12px;
}
.contact:hover {
  cursor: pointer;
  background-color: #1f4295;
}

/* ----------------------------------- */
/* -------------- HEADER ------------- */
/* ----------------------------------- */
header {
  /* border: 3px solid blue; */
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid lightgray;
}
header > div {
  /* border: 5px solid green; */
  display: flex;
  justify-content: center;
}
.header-nav {
  /* border: 1px solid red; */
  width: 70%;
  display: flex;
  justify-content: center;
}

.header-nav > button {
  border: 1px solid var(--bcgDark);
  cursor: pointer;
  padding: 4px 17px;
  font-size: 18px;
  background-color: var(--bcgLight);
}
.header-nav > button:hover {
  background-color: var(--bcgDark);
  color: white;
  border: 1px solid var(--bcgLight);
}
.nav-first {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}
.nav-last {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

/* ----------------------------------- */
/* --------------- MAIN -------------- */
/* ----------------------------------- */

/* ------------- PAGE HOME ----------- */
.homePage {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homePage h2 {
  margin-top: 80px;
  margin-bottom: 25px;
}
.homePage a {
  text-decoration: none;
}

.profile {
  width: 90%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.profileDesc {
  font-size: 30px;
}
.profileName {
  font-size: 45px;
  font-weight: bold;
  margin: 15px 0;
}
.profilePic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.homeLink {
  /* border: 3px solid green; */
  display: flex;
  gap: 23px;
  margin-top: 35px;
  width: 99%;
}

.homeSkills {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.homeSkills > div {
  /* border: 2px solid blue; */
  display: flex;
  gap: 80px;
  width: 100%;
  justify-content: center;
}
.homeSkills > div > section {
  /* border: 3px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeSkillsDetails {
  /* border: 5px solid coral; */
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.homeSkills h3 {
  padding-bottom: 25px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
}
.homeSkills img {
  width: 90%;
}
.homeSkills a {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  border-radius: 5px;
  background-color: whitesmoke;
  width: 90px;
  color: black;
  gap: 6px;
}
.homeSkills a:hover {
  transform: scale(1.12);
}
.homeSkills a > p {
  text-align: center;
}
.homeSkills i {
  font-size: 38px;
}

.homeProject {
  /* border: 3px solid saddlebrown; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
}
.homeProject h3 {
  margin-bottom: 10px;
}
.homeProject i {
  color: gray;
  font-size: 18px;
}
.homeProject > p {
  margin-top: 8px;
}
.homeProject > p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.homeProject > div {
  /* border: 2px solid coral; */
  display: flex;
  gap: 30px;
}
.homeProject > div p {
  line-height: 20px;
}
.homeProjectDescLight {
  border: 1px solid gray;
  background-color: var(--bcgLight);
  padding: 10px;
  border-radius: 12px;
  width: 280px;
  position: relative;
  top: 0;
}
.homeProjectDescDark {
  border: 1px solid gray;
  background-color: var(--bcgDark);
  padding: 10px;
  border-radius: 12px;
  width: 280px;
  position: relative;
  top: 0;
}
.siteLink {
  position: absolute;
  top: 12px;
  right: 18px;
}
.siteLink:hover {
  transform: scale(1.3);
}

.homeProjectGit {
  /* border: 1px solid orange; */
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.homeProjectGit i {
  color: white;
}

.homeContacts {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeContacts > p {
  text-align: center;
}

/* ----------- PAGE ABOUTME ---------- */
.aboutMeDescLight {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  margin-bottom: 180px;
  margin-top: 50px;
}
.aboutMeDescLight > p {
  width: 70%;
  font-size: 18px;
  line-height: 28px;
  padding: 10px;
  border-radius: 12px;
  background-color: var(--bcgLight);
}
.aboutMeDescLight a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.aboutMeDescNight {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  margin-bottom: 180px;
  margin-top: 50px;
}
.aboutMeDescNight > p {
  width: 70%;
  font-size: 18px;
  line-height: 28px;
  padding: 10px;
  border-radius: 12px;
  background-color: var(--bcgDark);
}
.aboutMeDescNight a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

/* ----------- PAGE PROJECTS --------- */
.projectsPage {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.projectHookLight {
  width: 70%;
  line-height: 22px;
  margin-bottom: 55px;
  background-color: var(--bcgLight);
  color: black;
  padding: 12px;
  border-radius: 12px;
}
.projectHookLight > a {
  color: black;
  text-decoration: none;
}
.projectHookLight > a:hover {
  color: var(--orange);
}
.projectHookDark {
  width: 70%;
  line-height: 22px;
  margin-bottom: 55px;
  background-color: var(--bcgDark);
  color: white;
  padding: 12px;
  border-radius: 12px;
}
.projectHookDark > a {
  color: white;
  text-decoration: none;
}
.projectHookDark > a:hover {
  color: var(--orange);
}

.projectNav {
  border: 1px solid var(--bcgDark);
  display: flex;
  background-color: var(--bcgLight);
  border-radius: 12px;
}
.projectNav > a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 8px 25px;
  border-radius: 12px;
}
.projectNav > a:hover {
  cursor: pointer;
  background-color: var(--bcgDark);
  color: white;
}

.allProjects {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 90%;
  margin-top: 30px;
}
.allProjects img {
  width: 70%;
  margin-top: 15px;
  border-radius: 15px;
  border: 2px solid var(--bcgDark);
}
.allProjects > div {
  /* border: 3px solid purple; */
  border-top: 1px solid gray;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techno {
  border: 2px solid var(--bcgDark);
  display: flex;
  gap: 50px;
  padding: 8px 45px;
  margin-top: 25px;
  border-radius: 50px;
  margin-bottom: 60px;
}
.techno > div {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.techno img {
  width: 75px;
  height: 75px;
  object-fit: contain;
  border: none;
}

.projectDescriptionLight {
  border: 2px solid var(--bcgDark);
  width: 80%;
  padding: 10px 25px;
  border-radius: 15px;
  background-color: var(--bcgLight);
  line-height: 22px;
  font-size: 18px;
}
.projectDescriptionDark {
  border: 2px solid var(--bcgLight);
  width: 80%;
  padding: 10px 25px;
  border-radius: 15px;
  background-color: var(--bcgDark);
  line-height: 22px;
  font-size: 18px;
}

.projectLinks {
  /* border: 3px solid darkorchid; */
  display: flex;
  gap: 23px;
  margin-top: 35px;
}
.projectLinks a {
  text-decoration: none;
}

/* ----------- PAGE CONTACT ---------- */
.message {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}
.message > div {
  /* border: 2px solid purple; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
}
.message input {
  border: 1px solid black;
  border-radius: 12px;
  padding: 12px 8px;
}
.message textarea {
  border: 1px solid black;
  border-radius: 12px;
  padding: 12px 8px;
}

.sendMessage {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sendMessage > button {
  width: 100px;
  font-size: 24px;
  padding: 8px 0;
  border-radius: 15px;
  background-color: var(--bcgLight);
  color: black;
  border: 1px solid gray;
  box-shadow: 0 4px #999;
}
.sendMessage > button:hover {
  cursor: pointer;
  color: white;
  background-color: var(--bcgDark);
}
.sendMessage > button:active {
  box-shadow: 0 1px #666;
  transform: translateY(3px);
}
.error {
  color: red;
  border: 1px solid red;
  padding: 8px;
  border-radius: 6px;
  font-size: 17px;
}
.success {
  color: green;
  border: 1px solid green;
  padding: 8px;
  border-radius: 6px;
  font-size: 17px;
}

.contactLink {
  /* border: 1px solid orange; */
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 120px;
  margin-bottom: 80px;
}
.contactLink a {
  text-decoration: none;
}

/* ----------------------------------- */
/* -------------- FOOTER ------------- */
/* ----------------------------------- */
footer {
  padding: 30px;
  margin-top: 40px;
  border-top: 1px solid lightgray;
  background-color: #190d33;
  color: white;
}
footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
footer > div > div:first-of-type {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 50px;
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
}

.footerDescription {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.footerDescription > p:first-of-type {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 3px;
}
.footerLink {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.footerLink > p:first-child {
  color: var(--orange);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  cursor: pointer;
  color: var(--orange);
}

/* ----------------------------------- */
/* ----------------------------------- */
/* ----------- MEDIA QUERY ----------- */
/* ----------------------------------- */
/* ----------------------------------- */
@media (max-width: 1200px) {
  .container {
    max-width: 95%;
  }
}

/* ----------- MEDIA 1100PX ---------- */
@media (max-width: 1100px) {
  .homeProjectGit {
    flex-direction: column;
    width: 60%;
    gap: 10px;
    margin-left: 20%;
  }
}

/* ----------- MEDIA 1000PX ---------- */
@media (max-width: 1100px) {
  .homeProject > div {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* ----------- MEDIA 900PX ----------- */
@media (max-width: 900px) {
  header {
    height: 110px;
    padding-bottom: 10px;
    align-items: flex-end;
  }

  .homeSkills > div {
    gap: 40px;
  }

  .allProjects {
    width: 100%;
  }
  .allProjects img {
    width: 99%;
  }
}

/* ----------- MEDIA 700PX ----------- */
@media (max-width: 700px) {
  .header-nav {
    width: 90%;
  }
  .profile {
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }
}

/* ----------- MEDIA 600PX ----------- */
@media (max-width: 600px) {
  .homeLink {
    flex-wrap: wrap;
    justify-content: center;
  }
  .homeSkills > div {
    flex-direction: column;
  }
  .homeSkillsDetails {
    flex-direction: row;
  }

  .aboutMeDescLight > p {
    width: 95%;
  }
  .aboutMeDescNight > p {
    width: 95%;
  }

  .projectHookLight {
    width: 95%;
  }
  .projectHookDark {
    width: 95%;
  }
  .projectNav {
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
  }

  .contactLink {
    flex-wrap: wrap;
    gap: 15px;
  }
}

/* ----------- MEDIA 500PX ----------- */
@media (max-width: 500px) {
  header {
    height: 150px;
  }
  .header-nav {
    width: 100%;
    flex-wrap: wrap;
  }
  .header-nav > button {
    width: 150px;
  }
  .nav-first {
    border-bottom-left-radius: 0;
  }
  .header-nav > button:nth-child(2) {
    border-top-right-radius: 12px;
  }
  .header-nav > button:nth-child(3) {
    border-bottom-left-radius: 12px;
  }
  .nav-last {
    border-top-right-radius: 0;
  }

  .homeSkillsDetails {
    flex-wrap: wrap;
    justify-content: center;
  }

  .techno {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 5px 15px;
    border-radius: 15px;
    width: 90%;
  }
  .techno img {
    width: 60px;
    height: 60px;
  }
  .projectLinks {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .message > div {
    width: 95%;
  }
  .message input {
    width: 100%;
  }
  .message textarea {
    width: 100%;
  }

  footer > div > div:first-of-type {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .footerDescription {
    align-items: center;
  }
  .footerMe {
    text-align: center;
  }
}

/* ----------- MEDIA 400PX ----------- */
@media (max-width: 400px) {
  .projectNav {
    width: 95%;
  }
}
